<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <title>Músicos</title>
        <%- include('../partials/header'); %>
        <div class="row justify-content-center mt-4">
            <div class="col-12">
                <div class="container p-3 body-page" style="height: 100%">
                    <div class="row" style="padding: 1%;";>
                        <button id="add" type="button" class="btn btn-success"><i class="fas fa-plus text-light">&nbsp;Adicionar novo usuário</i></button>
                    </div>
                    <hr>
                    <% if(data){%>
                        <table class="table">
                            <thead class="thead-dark">
                                <td class="text-light text-center">#</td>
                                <td class="text-light text-center">Nome</td>
                                <td class="text-light text-center">Email</td>
                                <td class="text-light text-center">Senha</td>
                                <td class="text-light text-center">Login</td>
                                <td class="text-light text-center">Data de Nascimento</td>
                                <td class="text-light text-center">Descrição</td>
                                <td class="text-light text-center">Telefone</td>
                                <td class="text-light text-center">Endereço</td>
                                <td class="text-light text-center">Redes Sociais</td>
                                <td class="text-light text-center">Estilos</td>
                                <td class="text-light text-center">Instrumentos</td>
                                <td class="text-light text-center">Opções</td>
                            </thead>
                            <tbody id="list">
                                <% for( let index = 0; index < data.length; index++ ) { 
                                    console.log(data[index].Endereco);
                                    
                                    %>
                                    <tr>
                                        <td class="text-light text-center"><%= data[index].Id ? data[index].Id : "-" %> </td>
                                        <td class="text-light text-center"><%= data[index].Nome ? data[index].Nome : "-" %></td>
                                        <td class="text-light text-center"><%= data[index].Email ? data[index].Email : "-" %></td>
                                        <td class="text-light text-center"><%= data[index].Senha ? data[index].Senha : "-" %></td>
                                        <td class="text-light text-center"><%= data[index].Login ? data[index].Login : "-" %></td>
                                        <td class="text-light text-center"><%= data[index].DataNascimento ? data[index].DataNascimento : "-" %></td>
                                        <td class="text-light text-center"><%= data[index].Descricao ? data[index].Descricao : "-" %></td>
                                        <td class="text-light text-center"><%= data[index].Telefone ? data[index].Telefone : "-" %></td>
                                        <td class="text-light text-center"><%= data[index].Endereço ? data[index].Endereço : "-" %></td>
                                        <td class="text-light text-center"><% if(data[index].RedesSociais){ %>
                                            <button type='button' value="<%= JSON.stringify(data[index].RedesSociais)%>" class='btn btn-primary modal-redes-sociais'> Launch </button>
                                        <%}
                                        else{%>
                                            -
                                        <%}%></td>
                                            
                                        <td class="text-light text-center"><%= data[index].Estilos ? data[index].Estilos : "-" %></td>
                                        <td class="text-light text-center"><%= data[index].Instrumentos ? data[index].Instrumentos : "-" %></td>
                                        <td class="text-center"> 
                                            <i onclick="editRegister($(this).closest('td').closest('tr'))" class="text-warning fas fa-pencil-alt"></i>
                                            &nbsp;&nbsp;&nbsp;
                                            <i onclick="deleteRegister($(this).closest('td').closest('tr'))" class="text-danger fas fa-trash-alt"></i>
                                        </td>
                                    </tr>
                                <% } %>
                                
                                <div class="row">
                                    <div class="col2">
                                        aaa
                                    </div>
                                     
                                    <div class="col2">
                                        vvv   
                                    </div>
                                </div>

                            </tbody>
                        </table>
                    <%} 
                    else{ %>
                        <div class="alert alert-primary" role="alert">
                            <h4 class="alert-heading">Ainda não há usuários cadastrados nessa categoria <i class="far fa-frown-open"></i>.</h4>
                            <p>Adicione um clicando no botão abaixo ou no acima.</p>
                            <hr>
                            <button id="add2" type="button" class="btn btn-success"><i class="fas fa-plus text-light">&nbsp;Adicionar novo usuário</i></button>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <%- include('../partials/scripts'); %>
    </body>
</html>